_id: spc_d484578637e84834a2b0d35fb4b73baf
type: ApiSpec
parentId: wrk_0037c1c4ea594814b77542be01ecf6f5
modified: 1620320290437
created: 1620317785734
fileName: my-spec.yaml
contents: >-
  openapi: 3.0.0

  info:
    title: Pagstar API
    description: ''
    contact:
      name: Pagstar Tech Support
      email: erikdavinci@gmail.com
    version: 2.1.0
  servers:
    - url: https://apiservice.pagstar.com/api
      description: Production server (uses live data)
    - url: https://dev-apiservice.pagstar.com/api
      description: Development server (uses test data)
  paths:
    /api/paymee_pix/webhook/:
      post:
        tags:
          - Webhooks
        summary: PIX
        description: ''
        operationId: PIX
        parameters: []
        requestBody:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PIXRequest'
              example:
                newStatus: PAID
                saleToken: 6f53288e-9eb0-36cc-81be-0d035b59a282
                referenceCode: 18
                currency: BRL
                amount: 1
                shopper:
                  fullName: ERIK ARAUJO RICCIOPPO
                  firstName: ERIK
                  lastName: RICCIOPPO
                  email: erikdavinci@gmail.com
                  cpf: 06697418338
                  agency: '3968'
                  account: 01088578-7
                date: '2021-04-02T00:12:15.000Z'
          required: true
        responses:
          '200':
            description: ''
            headers: {}
            content:
              text/plain:
                schema:
                  type: object
        deprecated: false
        servers:
          - url: '{_.baseURL}'
            variables:
              _.baseURL:
                default: DefaultParameterValue
          - url: '{_.baseURL}'
            variables:
              _.baseURL:
                default: DefaultParameterValue
          - url: '{_.baseURL}'
            variables:
              _.baseURL:
                default: DefaultParameterValue
          - url: '{_.baseURL}'
            variables:
              _.baseURL:
                default: DefaultParameterValue
    /api/idwall/webhook:
      post:
        tags:
          - Webhooks
        summary: IDWall
        description: ''
        operationId: IDWall
        parameters: []
        requestBody:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IDWallRequest'
              example:
                token: faced9f3-1c74-453a-82c3-5d35221ae884
                name: ERIK ARAUJO RICCIOPPO
                birth_date: 30/12/1999
                sex: M
                status: VALID
          required: true
        responses:
          '200':
            description: ''
            headers: {}
            content:
              text/plain:
                schema:
                  type: object
        deprecated: false
        servers:
          - url: '{_.baseURL}'
            variables:
              _.baseURL:
                default: DefaultParameterValue
          - url: '{_.baseURL}'
            variables:
              _.baseURL:
                default: DefaultParameterValue
          - url: '{_.baseURL}'
            variables:
              _.baseURL:
                default: DefaultParameterValue
          - url: '{_.baseURL}'
            variables:
              _.baseURL:
                default: DefaultParameterValue
    /api/paymee/webhook:
      post:
        tags:
          - Webhooks
        summary: PayMee
        description: ''
        operationId: PayMee
        parameters: []
        requestBody:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayMeeRequest'
              example:
                newStatus: PAID
                saleToken: d178064d-0a20-3f6a-a8ea-3c51d594f4a6
          required: true
        responses:
          '200':
            description: ''
            headers: {}
            content:
              text/plain:
                schema:
                  type: object
        deprecated: false
        servers:
          - url: '{_.baseURL}'
            variables:
              _.baseURL:
                default: DefaultParameterValue
          - url: '{_.baseURL}'
            variables:
              _.baseURL:
                default: DefaultParameterValue
          - url: '{_.baseURL}'
            variables:
              _.baseURL:
                default: DefaultParameterValue
          - url: '{_.baseURL}'
            variables:
              _.baseURL:
                default: DefaultParameterValue
    /api/paymee_pix/webhook:
      post:
        tags:
          - Webhooks
        summary: PayMee PIX
        description: ''
        operationId: PayMeePIX
        parameters: []
        requestBody:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayMeePIXRequest'
              example:
                newStatus: PAID
                saleToken: db5a0abc-e910-3108-9165-f243143943c2
          required: true
        responses:
          '200':
            description: ''
            headers: {}
            content:
              text/plain:
                schema:
                  type: object
        deprecated: false
        servers:
          - url: '{_.baseURL}'
            variables:
              _.baseURL:
                default: DefaultParameterValue
          - url: '{_.baseURL}'
            variables:
              _.baseURL:
                default: DefaultParameterValue
          - url: '{_.baseURL}'
            variables:
              _.baseURL:
                default: DefaultParameterValue
          - url: '{_.baseURL}'
            variables:
              _.baseURL:
                default: DefaultParameterValue
    /api/paymee_pixpay/webhook:
      post:
        tags:
          - Webhooks
        summary: PayMee PIXPAY
        description: ''
        operationId: PayMeePIXPAY
        parameters: []
        requestBody:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayMeePIXPAYRequest'
              example:
                newStatus: PAID
                saleToken: ea9859c4-049e-3a1f-99d2-da937ec68432
          required: true
        responses:
          '200':
            description: ''
            headers: {}
            content:
              text/plain:
                schema:
                  type: object
        deprecated: false
        servers:
          - url: '{_.baseURL}'
            variables:
              _.baseURL:
                default: DefaultParameterValue
          - url: '{_.baseURL}'
            variables:
              _.baseURL:
                default: DefaultParameterValue
          - url: '{_.baseURL}'
            variables:
              _.baseURL:
                default: DefaultParameterValue
          - url: '{_.baseURL}'
            variables:
              _.baseURL:
                default: DefaultParameterValue
    /api/asaas/webhook:
      post:
        tags:
          - Webhooks
        summary: Asaas
        description: ''
        operationId: Asaas
        parameters: []
        requestBody:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsaasRequest'
              example:
                event: PAYMENT_RECEIVED
                payment:
                  object: payment
                  id: pay_3332063695955261
                  dateCreated: '2017-03-10T00:00:00.000Z'
                  customer: cus_G7Dvo4iphUNk
                  dueDate: '2017-03-15T00:00:00.000Z'
                  value: 25
                  netValue: 94.51
                  billingType: CREDIT_CARD
                  status: RECEIVED
                  description: Pedido 056984
                  externalReference: 056984
                  confirmedDate: '2017-03-15T00:00:00.000Z'
                  originalValue: ''
                  interestValue: ''
                  originalDueDate: '2017-06-10T00:00:00.000Z'
                  paymentDate: ''
                  clientPaymentDate: ''
                  invoiceUrl: 'https://www.asaas.com/i/080225913252'
                  bankSlipUrl: ''
                  invoiceNumber: 2625
                  deleted: false
                  creditCard:
                    creditCardNumber: '8829'
                    creditCardBrand: MASTERCARD
                    creditCardToken: a75a1d98-c52d-4a6b-a413-71e00b193c99
          required: true
        responses:
          '200':
            description: ''
            headers: {}
            content:
              text/plain:
                schema:
                  type: object
        deprecated: false
        servers:
          - url: '{_.baseURL}'
            variables:
              _.baseURL:
                default: DefaultParameterValue
          - url: '{_.baseURL}'
            variables:
              _.baseURL:
                default: DefaultParameterValue
          - url: '{_.baseURL}'
            variables:
              _.baseURL:
                default: DefaultParameterValue
          - url: '{_.baseURL}'
            variables:
              _.baseURL:
                default: DefaultParameterValue
    /api/notifications:
      post:
        tags:
          - Notification
        summary: Set Notifications
        description: ''
        operationId: SetNotifications
        parameters: []
        requestBody:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SetNotificationsRequest'
              example:
                has_notifications: 1
          required: true
        responses:
          '200':
            description: ''
            headers: {}
            content:
              text/plain:
                schema:
                  type: object
        deprecated: false
        servers:
          - url: '{_.baseURL}'
            variables:
              _.baseURL:
                default: DefaultParameterValue
          - url: '{_.baseURL}'
            variables:
              _.baseURL:
                default: DefaultParameterValue
          - url: '{_.baseURL}'
            variables:
              _.baseURL:
                default: DefaultParameterValue
          - url: '{_.baseURL}'
            variables:
              _.baseURL:
                default: DefaultParameterValue
      get:
        tags:
          - Notification
        summary: Check If User Has Notifications
        description: ''
        operationId: CheckIfUserHasNotifications
        parameters: []
        responses:
          '200':
            description: ''
            headers: {}
            content:
              text/plain:
                schema:
                  type: object
        deprecated: false
        servers:
          - url: '{_.baseURL}'
            variables:
              _.baseURL:
                default: DefaultParameterValue
          - url: '{_.baseURL}'
            variables:
              _.baseURL:
                default: DefaultParameterValue
          - url: '{_.baseURL}'
            variables:
              _.baseURL:
                default: DefaultParameterValue
          - url: '{_.baseURL}'
            variables:
              _.baseURL:
                default: DefaultParameterValue
    /api/invites:
      get:
        tags:
          - Invite
        summary: Get User Invites
        description: ''
        operationId: GetUserInvites
        parameters: []
        responses:
          '200':
            description: ''
            headers: {}
            content:
              text/plain:
                schema:
                  type: object
        deprecated: false
        servers:
          - url: '{_.baseURL}'
            variables:
              _.baseURL:
                default: DefaultParameterValue
          - url: '{_.baseURL}'
            variables:
              _.baseURL:
                default: DefaultParameterValue
          - url: '{_.baseURL}'
            variables:
              _.baseURL:
                default: DefaultParameterValue
          - url: '{_.baseURL}'
            variables:
              _.baseURL:
                default: DefaultParameterValue
    /api/adm/partner:
      post:
        tags:
          - Admin
        summary: Create Partner
        description: >-
          Esse rota possui o objetivo de criar um Parceiro (partner), sendo
          necessário o token de ADM.


          <h3>Token ADM:</h3>/api/admin/generate-token (Pagstar->ADM->Generate New
          ADM Token)
        operationId: CreatePartner
        parameters: []
        requestBody:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatePartnerRequest'
              example:
                name: SouParceiro
                email: par@ceiro.com
                password: '123456'
                document: 15.551.115/5551-15
          required: true
        responses:
          '200':
            description: ''
            headers: {}
            content:
              text/plain:
                schema:
                  type: object
        deprecated: false
        servers:
          - url: '{baseURL}'
            variables:
              baseURL:
                default: DefaultParameterValue
          - url: 'https://apiservice.pagstar.com'
            variables: {}
          - url: 'https://dev-apiservice.pagstar.com'
            variables: {}
          - url: '127.0.0.1:8001'
            variables: {}
      get:
        tags:
          - Admin
        summary: List All Partners
        description: >-
          Essa rota tem como objetivo de retornar os dados de todos os Parceiros
          (partner), sendo necessário o token de ADM.


          <h3>Token ADM:</h3>/api/admin/generate-token (Pagstar->ADM->Generate New
          ADM Token)
        operationId: ListAllPartners
        parameters: []
        responses:
          '200':
            description: Auto generated using Swagger Inspector
            content:
              application/json:
                schema:
                  type: object
                  properties: {}
                examples:
                  '0':
                    value: |-
                      [{"id": 30,
                        "name": "EuSouParceiro", 
                        "email": "par@ceiro.com", 
                        "phone": null, 
                        "document": "15.551.115\/5551-15",
                        "status": 1, 
                        "token": null,
                        "has_notifications": 1,
                        "bank_account_favorite_id": 0,
                        "card_favorite_id": 0,
                        "profile_photo_url": "https:\/\/ui-avatars.com\/api\/EuSouParceiro",
                        "balance": 0,
                        "asaas_code": null,
                        "is_partner": 1,
                        "doc_certified": 0,
                        "notification_url": null,
                        "created_at": "2021-05-01T21:16:05.000000Z",
                        "updated_at": "2021-05-01T21:16:05.000000Z",
                        "deleted_at": null
                      }]
        deprecated: false
        servers:
          - url: '{baseURL}'
            variables:
              baseURL:
                default: DefaultParameterValue
          - url: 'https://apiservice.pagstar.com'
            variables: {}
          - url: 'https://dev-apiservice.pagstar.com'
            variables: {}
          - url: '127.0.0.1:8001'
            variables: {}
    /api/partner/login:
      post:
        tags:
          - Auth
        summary: Login
        description: >-
          Essa rota possui como objetivo realizar o login de um parceiro,
          retornando dados do mesmo, juntamente com o token de autenticação.
        operationId: Login
        parameters: []
        requestBody:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginRequest'
              example:
                email: pai@parceiro.com
                password: '123123'
                timezone: America/Sao_Paulo
          required: true
        responses:
          '200':
            description: Auto generated using Swagger Inspector
            content:
              application/json:
                schema:
                  type: object
                  properties: {}
                examples:
                  '0':
                    value: |-
                      { "name": "SouParceiro",
                        "document": "464567488595",
                        "phone": "NO_INFO",
                        "email": "parceiro@gmail.com",
                        "balance": 0,
                        "token": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiIsImp0aSI6IjQ2NDU2NzQ4ODU5NSJ9.eyJpc3MiOiJodHRwOlwvXC9sb2NhbGhvc3QiLCJhdWQiOiJodHRwOlwvXC9sb2NhbGhvc3QiLCJqdGkiOiI0NjQ1Njc0ODg1OTUiLCJpYXQiOjE2MTk5NzIxNzcsIm5iZiI6MTYxOTk3MjE3NywiZXhwIjo0NzczOTcyMTc3LCJkb2N1bWVudCI6IjQ2NDU2NzQ4ODU5NSIsInJvbGUiOiJwYXJ0bmVyIiwidGltZXpvbmUiOiJBbWVyaWNhXC9TYW9fUGF1bG8ifQ.6EB22OdPvVvbryYvDGPnLBG9Nz7JfTgRZwOvXv6JuQM"
                      }
        deprecated: false
        servers:
          - url: '{baseURL}'
            variables:
              baseURL:
                default: DefaultParameterValue
          - url: 'https://apiservice.pagstar.com'
            variables: {}
          - url: 'https://dev-apiservice.pagstar.com'
            variables: {}
          - url: '127.0.0.1:8001'
            variables: {}
    /api/partner/reset/password:
      post:
        tags:
          - Auth
        summary: Reset Password
        description: >-
          Essa rota tem o objetivo de redefinir a senha do parceiro, enviando um
          email com o código de pecuperação, ao email definido no corpo da
          requisição.
        operationId: ResetPassword
        parameters: []
        requestBody:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResetPasswordRequest'
              example:
                email: tutamackenzie@hotmail.com
          required: true
        responses:
          '200':
            description: ''
            headers: {}
            content:
              text/plain:
                schema:
                  type: object
        deprecated: false
        servers:
          - url: '{baseURL}'
            variables:
              baseURL:
                default: DefaultParameterValue
          - url: 'https://apiservice.pagstar.com'
            variables: {}
          - url: 'https://dev-apiservice.pagstar.com'
            variables: {}
          - url: '127.0.0.1:8001'
            variables: {}
    /api/partner/account:
      get:
        tags:
          - Account
        summary: Get Account
        description: >-
          Essa requisição GET account, tem como objetivo retornar os dados da
          conda bancária do parceiro (partner), sendo necessário o token de
          autenticação.


          <h3>Token Partner:</h3>api/partner/login (Partner API->Auth->Login)
        operationId: GetAccount
        parameters: []
        responses:
          '200':
            description: Auto generated using Swagger Inspector
            content:
              application/json:
                schema:
                  type: object
                  properties: {}
                examples:
                  '0':
                    value: |-
                      { "id": 41,
                        "name": "Cesar Rodrigues",
                        "email": "cgabriel.lourenzo@gmail.com",
                        "phone": null,
                        "document": "87410345896",
                        "status": 1,
                        "token": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiIsImp0aSI6Ijg3NDEwMzQ1ODk2In0.eyJpc3MiOiJodHRwOlwvXC9sb2NhbGhvc3QiLCJhdWQiOiJodHRwOlwvXC9sb2NhbGhvc3QiLCJqdGkiOiI4NzQxMDM0NTg5NiIsImlhdCI6MTYxOTk3MzQ3NywibmJmIjoxNjE5OTczNDc3LCJleHAiOjQ3NzM5NzM0NzcsImRvY3VtZW50IjoiODc0MTAzNDU4OTYiLCJyb2xlIjoicGFydG5lciIsInRpbWV6b25lIjoiQW1lcmljYVwvU2FvX1BhdWxvIn0.iXSffv0iFNiSz2FLn9hdt568zBFGroYoaNoKWjZt_LY",
                        "has_notifications": 1,
                        "bank_account_favorite_id": 0,
                        "card_favorite_id": 0,
                        "profile_photo_url": "https:\/\/ui-avatars.com\/api\/Cesar+Rodrigues",
                        "balance": 0,
                        "asaas_code": null,
                        "is_partner": 1,
                        "doc_certified": 0,
                        "notification_url": null,
                        "created_at": "2021-05-02T16:37:47.000000Z",
                        "updated_at": "2021-05-02T16:38:10.000000Z",
                        "deleted_at": null
                      }
        deprecated: false
        servers:
          - url: '{baseURL}'
            variables:
              baseURL:
                default: DefaultParameterValue
          - url: 'https://apiservice.pagstar.com'
            variables: {}
          - url: 'https://dev-apiservice.pagstar.com'
            variables: {}
          - url: '127.0.0.1:8001'
            variables: {}
      patch:
        tags:
          - Account
        summary: Modify Account
        description: >-
          Essa requisição PATCH tem como objetivo de alterar o senha da conta do
          perceiro em questão, sendo necessário o token de autenticação.


          <h3>Token Partner:</h3>api/partner/login (Partner API->Auth->Login)
        operationId: ModifyAccount
        parameters: []
        requestBody:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModifyAccountRequest'
              example:
                password: '123123'
          required: true
        responses:
          '200':
            description: ''
            headers: {}
            content:
              text/plain:
                schema:
                  type: object
        deprecated: false
        servers:
          - url: '{baseURL}'
            variables:
              baseURL:
                default: DefaultParameterValue
          - url: 'https://apiservice.pagstar.com'
            variables: {}
          - url: 'https://dev-apiservice.pagstar.com'
            variables: {}
          - url: '127.0.0.1:8001'
            variables: {}
    /api/partner/account/profile_photo:
      post:
        tags:
          - Account
        summary: Change Profile Image (Partner/ADM)
        description: >-
          Essa rota tem objetivo de fazer um upload de uma nova foto de perfil,
          para conta do parceiro, também necessario o token de autenticação.


          <h3>Token Partner:</h3>api/partner/login (Partner API->Auth->Login)
        operationId: ChangeProfileImage(Partner/ADM)
        parameters:
          - name: Content-Type
            in: header
            description: ''
            required: true
            style: simple
            schema:
              type: string
              example: multipart/form-data
        requestBody:
          content:
            multipart/form-data:
              encoding: {}
              schema:
                required:
                  - profile_photo
                type: object
                properties:
                  profile_photo:
                    type: string
                    format: binary
          required: false
        responses:
          '200':
            description: ''
            headers: {}
            content:
              text/plain:
                schema:
                  type: object
        deprecated: false
        servers:
          - url: '{_.baseURL}'
            variables:
              _.baseURL:
                default: DefaultParameterValue
          - url: '{_.baseURL}'
            variables:
              _.baseURL:
                default: DefaultParameterValue
          - url: '{_.baseURL}'
            variables:
              _.baseURL:
                default: DefaultParameterValue
          - url: '{_.baseURL}'
            variables:
              _.baseURL:
                default: DefaultParameterValue
    /api/partner/account/notification:
      post:
        tags:
          - Account
        summary: Set Notification URL
        description: |-


          <h3>Token Partner:</h3>api/partner/login (Partner API->Auth->Login)
        operationId: SetNotificationURL
        parameters: []
        requestBody:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SetNotificationURLRequest'
              example:
                notification_url: 'https://webhook.site/78498d87-cd9e-4548-a1a4-5667d9d81f8e'
          required: true
        responses:
          '200':
            description: ''
            headers: {}
            content:
              text/plain:
                schema:
                  type: object
        deprecated: false
        servers:
          - url: '{_.baseURL}'
            variables:
              _.baseURL:
                default: DefaultParameterValue
          - url: '{_.baseURL}'
            variables:
              _.baseURL:
                default: DefaultParameterValue
          - url: '{_.baseURL}'
            variables:
              _.baseURL:
                default: DefaultParameterValue
          - url: '{_.baseURL}'
            variables:
              _.baseURL:
                default: DefaultParameterValue
    /api/partner/account/info:
      get:
        tags:
          - Misc - Partner
        summary: GET Info
        description: >-
          Essa requisição GET tem como objetivo de fornecer informações sobre as
          movimentação da conta bancária do perceiro em questão, sendo necessario
          o token de autenticação.


          <h3>Token Partner:</h3>api/partner/login (Partner API->Auth->Login)
        operationId: GETInfo
        parameters:
          - name: version
            in: header
            description: ''
            required: true
            style: simple
            schema:
              type: string
              example: 2.1.7
        responses:
          '200':
            description: Auto generated using Swagger Inspector
            content:
              application/json:
                schema:
                  type: object
                  properties: {}
                examples:
                  '0':
                    value: |-
                      { "balance": {
                            "total": 0,
                            "day": 0
                          },
                          "deposit": {
                            "total": 0,
                            "day": 0
                          },
                          "withdraw": {
                            "total": 0,
                            "day": 0
                          },
                          "customer": {
                            "total": 0,
                            "day": 0
                          }
                      }
        deprecated: false
        servers:
          - url: '{_.baseURL}'
            variables:
              _.baseURL:
                default: DefaultParameterValue
          - url: '{_.baseURL}'
            variables:
              _.baseURL:
                default: DefaultParameterValue
          - url: '{_.baseURL}'
            variables:
              _.baseURL:
                default: DefaultParameterValue
          - url: '{_.baseURL}'
            variables:
              _.baseURL:
                default: DefaultParameterValue
    /api/partner/banks:
      get:
        tags:
          - Misc - Partner
        summary: Get Banks
        description: >-
          Essa rota tem como objetivo de retornar os códigos(id) de cada banco,
          essa requisição nao requer um token de autenticação.


          <h3>Token Partner:</h3>api/partner/login (Partner API->Auth->Login)
        operationId: GetBanks
        parameters: []
        responses:
          '200':
            description: Auto generated using Swagger Inspector
            content:
              application/json:
                schema:
                  type: object
                  properties: {}
                examples:
                  '0':
                    value: |-
                      [ {
                          "id": 1,
                          "name": "Banco do Brasil S.A"
                        },
                        {
                          "id": 33,
                          "name": "Banco Santander Brasil S.A"
                        },
                        {
                          "id": 77,
                          "name": "Banco Inter S.A"
                        },
                        {
                          "id": 104,
                          "name": "Banco Caixa Economica Federal"
                        },
                        {
                          "id": 212,
                          "name": "Banco Original S.A"
                        },
                        {
                          "id": 218,
                          "name": "Banco BS2 S.A"
                        },
                        {
                          "id": 237,
                          "name": "Bradesco S.A"
                        },
                        {
                          "id": 341,
                          "name": "Itaú Unibanco S.A"
                        }
                      ]
        deprecated: false
        servers:
          - url: '{_.baseURL}'
            variables:
              _.baseURL:
                default: DefaultParameterValue
          - url: '{_.baseURL}'
            variables:
              _.baseURL:
                default: DefaultParameterValue
          - url: '{_.baseURL}'
            variables:
              _.baseURL:
                default: DefaultParameterValue
          - url: '{_.baseURL}'
            variables:
              _.baseURL:
                default: DefaultParameterValue
    /api/cep/13468750:
      get:
        tags:
          - Misc
        summary: Get CEP
        description: ''
        operationId: GetCEP
        parameters: []
        responses:
          '200':
            description: ''
            headers: {}
            content:
              text/plain:
                schema:
                  type: object
        deprecated: false
        servers:
          - url: '{_.baseURL}'
            variables:
              _.baseURL:
                default: DefaultParameterValue
          - url: '{_.baseURL}'
            variables:
              _.baseURL:
                default: DefaultParameterValue
          - url: '{_.baseURL}'
            variables:
              _.baseURL:
                default: DefaultParameterValue
          - url: '{_.baseURL}'
            variables:
              _.baseURL:
                default: DefaultParameterValue
    /api/misc/faq:
      get:
        tags:
          - Misc
        summary: Get FAQ
        description: ''
        operationId: GetFAQ
        parameters: []
        responses:
          '200':
            description: ''
            headers: {}
            content:
              text/plain:
                schema:
                  type: object
        deprecated: false
        servers:
          - url: '{baseURL}'
            variables:
              baseURL:
                default: DefaultParameterValue
          - url: 'https://apiservice.pagstar.com'
            variables: {}
          - url: 'https://dev-apiservice.pagstar.com'
            variables: {}
          - url: '127.0.0.1:8001'
            variables: {}
      post:
        tags:
          - Misc
        summary: Create FAQ
        description: ''
        operationId: CreateFAQ
        parameters: []
        requestBody:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateFAQRequest'
              example:
                question_pt: TESTE2?
                answer_pt: TESTE2.
                question_en: TEST2?
                answer_en: TEST2.
                question_es: TiESTE2?
                answer_es: TiESTE2.
          required: true
        responses:
          '200':
            description: ''
            headers: {}
            content:
              text/plain:
                schema:
                  type: object
        deprecated: false
        servers:
          - url: '{baseURL}'
            variables:
              baseURL:
                default: DefaultParameterValue
          - url: 'https://apiservice.pagstar.com'
            variables: {}
          - url: 'https://dev-apiservice.pagstar.com'
            variables: {}
          - url: '127.0.0.1:8001'
            variables: {}
    /api/misc/faq/1:
      patch:
        tags:
          - Misc
        summary: Update FAQ
        description: ''
        operationId: UpdateFAQ
        parameters: []
        requestBody:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateFAQRequest'
              example:
                answer_es: 'Si. Ay ay, hasta la vista.'
          required: true
        responses:
          '200':
            description: ''
            headers: {}
            content:
              text/plain:
                schema:
                  type: object
        deprecated: false
        servers:
          - url: '{baseURL}'
            variables:
              baseURL:
                default: DefaultParameterValue
          - url: 'https://apiservice.pagstar.com'
            variables: {}
          - url: 'https://dev-apiservice.pagstar.com'
            variables: {}
          - url: '127.0.0.1:8001'
            variables: {}
    /api/misc/faq/2:
      delete:
        tags:
          - Misc
        summary: Delete FAQ
        description: ''
        operationId: DeleteFAQ
        parameters:
          - name: Content-Type
            in: header
            description: ''
            required: true
            style: simple
            schema:
              type: string
              example: application/json
        responses:
          '200':
            description: ''
            headers: {}
            content:
              text/plain:
                schema:
                  type: object
        deprecated: false
        servers:
          - url: '{baseURL}'
            variables:
              baseURL:
                default: DefaultParameterValue
          - url: 'https://apiservice.pagstar.com'
            variables: {}
          - url: 'https://dev-apiservice.pagstar.com'
            variables: {}
          - url: '127.0.0.1:8001'
            variables: {}
    /api/misc/logs:
      get:
        tags:
          - Misc
        summary: Get Logs
        description: ''
        operationId: GetLogs
        parameters: []
        responses:
          '200':
            description: ''
            headers: {}
            content:
              text/plain:
                schema:
                  type: object
        deprecated: false
        servers:
          - url: '{baseURL}'
            variables:
              baseURL:
                default: DefaultParameterValue
          - url: 'https://apiservice.pagstar.com'
            variables: {}
          - url: 'https://dev-apiservice.pagstar.com'
            variables: {}
          - url: '127.0.0.1:8001'
            variables: {}
      post:
        tags:
          - Misc
        summary: Clear Logs
        description: ''
        operationId: ClearLogs
        parameters:
          - name: locale
            in: header
            description: ''
            required: true
            style: simple
            schema:
              type: string
              example: en
        responses:
          '200':
            description: ''
            headers: {}
            content:
              text/plain:
                schema:
                  type: object
        deprecated: false
        servers:
          - url: '{baseURL}'
            variables:
              baseURL:
                default: DefaultParameterValue
          - url: 'https://apiservice.pagstar.com'
            variables: {}
          - url: 'https://dev-apiservice.pagstar.com'
            variables: {}
          - url: '127.0.0.1:8001'
            variables: {}
    /api/auth-v2:
      post:
        tags:
          - Authentication
        summary: Login
        description: ''
        operationId: PostLogin
        parameters:
          - name: locale
            in: header
            description: ''
            required: true
            style: simple
            schema:
              type: string
              example: en
          - name: version
            in: header
            description: ''
            required: true
            style: simple
            schema:
              type: string
              example: 2.1.7
        requestBody:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginRequest1'
              example:
                phone: '5519984276044'
                password: '123456'
                timezone: >-
                  {% prompt 'Timezone', 'Iza, coloca um timezone partindo da lista
                  do PHP (https://www.php.net/manual/pt_BR/timezones.php)', 'UTC',
                  '', false, true %}
          required: true
        responses:
          '200':
            description: ''
            headers: {}
            content:
              text/plain:
                schema:
                  type: object
        deprecated: false
        servers:
          - url: '{_.baseURL}'
            variables:
              _.baseURL:
                default: DefaultParameterValue
          - url: '{_.baseURL}'
            variables:
              _.baseURL:
                default: DefaultParameterValue
          - url: '{_.baseURL}'
            variables:
              _.baseURL:
                default: DefaultParameterValue
          - url: '{_.baseURL}'
            variables:
              _.baseURL:
                default: DefaultParameterValue
    /api/auth:
      get:
        tags:
          - Authentication
        summary: Verificate Token
        description: ''
        operationId: VerificateToken
        parameters:
          - name: Content-Type
            in: header
            description: ''
            required: true
            style: simple
            schema:
              type: string
              example: application/json
          - name: version
            in: header
            description: ''
            required: true
            style: simple
            schema:
              type: string
              example: 2.1.7
        responses:
          '200':
            description: ''
            headers: {}
            content:
              text/plain:
                schema:
                  type: object
        deprecated: false
        servers:
          - url: '{baseURL}'
            variables:
              baseURL:
                default: DefaultParameterValue
          - url: 'https://apiservice.pagstar.com'
            variables: {}
          - url: 'https://dev-apiservice.pagstar.com'
            variables: {}
          - url: '127.0.0.1:8001'
            variables: {}
    /api/resetpassword:
      patch:
        tags:
          - Authentication
        summary: Change Password
        description: ''
        operationId: ChangePassword
        parameters: []
        requestBody:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChangePasswordRequest'
              example:
                phone: '5519982492037'
                newpassword: '123456'
          required: true
        responses:
          '200':
            description: ''
            headers: {}
            content:
              text/plain:
                schema:
                  type: object
        deprecated: false
        servers:
          - url: '{baseURL}'
            variables:
              baseURL:
                default: DefaultParameterValue
          - url: 'https://apiservice.pagstar.com'
            variables: {}
          - url: 'https://dev-apiservice.pagstar.com'
            variables: {}
          - url: '127.0.0.1:8001'
            variables: {}
    /api/logout:
      post:
        tags:
          - Authentication
        summary: Logout
        description: ''
        operationId: Logout
        parameters:
          - name: version
            in: header
            description: ''
            required: true
            style: simple
            schema:
              type: string
              example: 2.1.7
        responses:
          '200':
            description: ''
            headers: {}
            content:
              text/plain:
                schema:
                  type: object
        deprecated: false
        servers:
          - url: '{baseURL}'
            variables:
              baseURL:
                default: DefaultParameterValue
          - url: 'https://apiservice.pagstar.com'
            variables: {}
          - url: 'https://dev-apiservice.pagstar.com'
            variables: {}
          - url: '127.0.0.1:8001'
            variables: {}
    /api/partner/cashin:
      get:
        tags:
          - Balance
        summary: Cash In
        description: |-


          <h3>Token Partner:</h3>api/partner/login (Partner API->Auth->Login)
        operationId: CashIn
        parameters: []
        responses:
          '200':
            description: ''
            headers: {}
            content:
              text/plain:
                schema:
                  type: object
        deprecated: false
        servers:
          - url: '{_.baseURL}'
            variables:
              _.baseURL:
                default: DefaultParameterValue
          - url: '{_.baseURL}'
            variables:
              _.baseURL:
                default: DefaultParameterValue
          - url: '{_.baseURL}'
            variables:
              _.baseURL:
                default: DefaultParameterValue
          - url: '{_.baseURL}'
            variables:
              _.baseURL:
                default: DefaultParameterValue
    /api/partner/cashout?:
      get:
        tags:
          - Balance
        summary: Cash Out
        description: |-


          <h3>Token Partner:</h3>api/partner/login (Partner API->Auth->Login)
        operationId: CashOut
        parameters: []
        responses:
          '200':
            description: ''
            headers: {}
            content:
              text/plain:
                schema:
                  type: object
        deprecated: false
        servers:
          - url: '{_.baseURL}'
            variables:
              _.baseURL:
                default: DefaultParameterValue
          - url: '{_.baseURL}'
            variables:
              _.baseURL:
                default: DefaultParameterValue
          - url: '{_.baseURL}'
            variables:
              _.baseURL:
                default: DefaultParameterValue
          - url: '{_.baseURL}'
            variables:
              _.baseURL:
                default: DefaultParameterValue
    /api/partner/incomes:
      get:
        tags:
          - Balance
        summary: Get Incomes
        description: |-


          <h3>Token Partner:</h3>api/partner/login (Partner API->Auth->Login)
        operationId: GetIncomes
        parameters:
          - name: type
            in: query
            description: ''
            required: true
            style: form
            explode: true
            schema:
              type: string
              example: '44'
        responses:
          '200':
            description: ''
            headers: {}
            content:
              text/plain:
                schema:
                  type: object
        deprecated: false
        servers:
          - url: '{_.baseURL}'
            variables:
              _.baseURL:
                default: DefaultParameterValue
          - url: '{_.baseURL}'
            variables:
              _.baseURL:
                default: DefaultParameterValue
          - url: '{_.baseURL}'
            variables:
              _.baseURL:
                default: DefaultParameterValue
          - url: '{_.baseURL}'
            variables:
              _.baseURL:
                default: DefaultParameterValue
    /api/partner/balance:
      get:
        tags:
          - Balance
        summary: Get Balance
        description: |-


          <h3>Token Partner:</h3>api/partner/login (Partner API->Auth->Login)
        operationId: GetBalance
        parameters: []
        responses:
          '200':
            description: ''
            headers: {}
            content:
              text/plain:
                schema:
                  type: object
        deprecated: false
        servers:
          - url: '{baseURL}'
            variables:
              baseURL:
                default: DefaultParameterValue
          - url: 'https://apiservice.pagstar.com'
            variables: {}
          - url: 'https://dev-apiservice.pagstar.com'
            variables: {}
          - url: '127.0.0.1:8001'
            variables: {}
    /api/partner/customers/balance/1:
      get:
        tags:
          - Balance
        summary: Get Customer Balance
        description: |-


          <h3>Token Partner:</h3>api/partner/login (Partner API->Auth->Login)
        operationId: GetCustomerBalance
        parameters: []
        responses:
          '200':
            description: ''
            headers: {}
            content:
              text/plain:
                schema:
                  type: object
        deprecated: false
        servers:
          - url: '{baseURL}'
            variables:
              baseURL:
                default: DefaultParameterValue
          - url: 'https://apiservice.pagstar.com'
            variables: {}
          - url: 'https://dev-apiservice.pagstar.com'
            variables: {}
          - url: '127.0.0.1:8001'
            variables: {}
    /api/partner/customers/balance/1/verify:
      post:
        tags:
          - Balance
        summary: Verificate Customer Balance
        description: |-


          <h3>Token Partner:</h3>api/partner/login (Partner API->Auth->Login)
        operationId: VerificateCustomerBalance
        parameters: []
        requestBody:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerificateCustomerBalanceRequest'
              example:
                value: 142.71
          required: true
        responses:
          '200':
            description: ''
            headers: {}
            content:
              text/plain:
                schema:
                  type: object
        deprecated: false
        servers:
          - url: '{baseURL}'
            variables:
              baseURL:
                default: DefaultParameterValue
          - url: 'https://apiservice.pagstar.com'
            variables: {}
          - url: 'https://dev-apiservice.pagstar.com'
            variables: {}
          - url: '127.0.0.1:8001'
            variables: {}
    /api/partner/transfer:
      get:
        tags:
          - Transactions
        summary: List All Transfers
        description: |-


          <h3>Token Partner:</h3>api/partner/login (Partner API->Auth->Login)
        operationId: ListAllTransfers
        parameters: []
        responses:
          '200':
            description: ''
            headers: {}
            content:
              text/plain:
                schema:
                  type: object
        deprecated: false
        servers:
          - url: '{baseURL}'
            variables:
              baseURL:
                default: DefaultParameterValue
          - url: 'https://apiservice.pagstar.com'
            variables: {}
          - url: 'https://dev-apiservice.pagstar.com'
            variables: {}
          - url: '127.0.0.1:8001'
            variables: {}
      post:
        tags:
          - Transactions
        summary: Make Transfer
        description: |-


          <h3>Token Partner:</h3>api/partner/login (Partner API->Auth->Login)
        operationId: MakeTransfer
        parameters: []
        requestBody:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MakeTransferRequest'
              example:
                phone: '5519982492037'
                value: 1
          required: true
        responses:
          '200':
            description: ''
            headers: {}
            content:
              text/plain:
                schema:
                  type: object
        deprecated: false
        servers:
          - url: '{baseURL}'
            variables:
              baseURL:
                default: DefaultParameterValue
          - url: 'https://apiservice.pagstar.com'
            variables: {}
          - url: 'https://dev-apiservice.pagstar.com'
            variables: {}
          - url: '127.0.0.1:8001'
            variables: {}
    /api/partner/customer/transfer:
      get:
        tags:
          - Transactions
        summary: List All Customers Transfers
        description: |-


          <h3>Token Partner:</h3>api/partner/login (Partner API->Auth->Login)
        operationId: ListAllCustomersTransfers
        parameters:
          - name: sortField
            in: query
            description: ''
            required: true
            style: form
            explode: true
            schema:
              type: string
              example: id
          - name: sortOrder
            in: query
            description: ''
            required: true
            style: form
            explode: true
            schema:
              type: string
              example: '1'
          - name: rows
            in: query
            description: ''
            required: true
            style: form
            explode: true
            schema:
              type: string
              example: '4'
          - name: page
            in: query
            description: ''
            required: true
            style: form
            explode: true
            schema:
              type: string
              example: '1'
        responses:
          '200':
            description: ''
            headers: {}
            content:
              text/plain:
                schema:
                  type: object
        deprecated: false
        servers:
          - url: '{baseURL}'
            variables:
              baseURL:
                default: DefaultParameterValue
          - url: 'https://apiservice.pagstar.com'
            variables: {}
          - url: 'https://dev-apiservice.pagstar.com'
            variables: {}
          - url: '127.0.0.1:8001'
            variables: {}
    /api/partner/customer/transfer/1:
      get:
        tags:
          - Transactions
        summary: Customer Transfers by ID
        description: |-


          <h3>Token Partner:</h3>api/partner/login (Partner API->Auth->Login)
        operationId: CustomerTransfersbyID
        parameters: []
        responses:
          '200':
            description: ''
            headers: {}
            content:
              text/plain:
                schema:
                  type: object
        deprecated: false
        servers:
          - url: '{baseURL}'
            variables:
              baseURL:
                default: DefaultParameterValue
          - url: 'https://apiservice.pagstar.com'
            variables: {}
          - url: 'https://dev-apiservice.pagstar.com'
            variables: {}
          - url: '127.0.0.1:8001'
            variables: {}
    /api/partner/withdraw-v2:
      get:
        tags:
          - Withdraw
        summary: List All Withdrawal
        description: |-


          <h3>Token Partner:</h3>api/partner/login (Partner API->Auth->Login)
        operationId: ListAllWithdrawal
        parameters: []
        responses:
          '200':
            description: ''
            headers: {}
            content:
              text/plain:
                schema:
                  type: object
        deprecated: false
        servers:
          - url: '{baseURL}'
            variables:
              baseURL:
                default: DefaultParameterValue
          - url: 'https://apiservice.pagstar.com'
            variables: {}
          - url: 'https://dev-apiservice.pagstar.com'
            variables: {}
          - url: '127.0.0.1:8001'
            variables: {}
    /api/partner/withdraw:
      post:
        tags:
          - Withdraw
        summary: Solicit Withdrawal
        description: |-


          <h3>Token Partner:</h3>api/partner/login (Partner API->Auth->Login)
        operationId: SolicitWithdrawal
        parameters:
          - name: version
            in: header
            description: ''
            required: true
            style: simple
            schema:
              type: string
              example: 2.1.2
        requestBody:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SolicitWithdrawalRequest'
              example:
                bank_account_id: 2
                value: 12
          required: true
        responses:
          '200':
            description: ''
            headers: {}
            content:
              text/plain:
                schema:
                  type: object
        deprecated: false
        servers:
          - url: '{baseURL}'
            variables:
              baseURL:
                default: DefaultParameterValue
          - url: 'https://apiservice.pagstar.com'
            variables: {}
          - url: 'https://dev-apiservice.pagstar.com'
            variables: {}
          - url: '127.0.0.1:8001'
            variables: {}
    /api/partner/withdraw/8:
      get:
        tags:
          - Withdraw
        summary: Get Withdrawal by ID
        description: |-


          <h3>Token Partner:</h3>api/partner/login (Partner API->Auth->Login)
        operationId: GetWithdrawalbyID
        parameters: []
        responses:
          '200':
            description: ''
            headers: {}
            content:
              text/plain:
                schema:
                  type: object
        deprecated: false
        servers:
          - url: '{baseURL}'
            variables:
              baseURL:
                default: DefaultParameterValue
          - url: 'https://apiservice.pagstar.com'
            variables: {}
          - url: 'https://dev-apiservice.pagstar.com'
            variables: {}
          - url: '127.0.0.1:8001'
            variables: {}
    /api/partner/withdraw/9:
      delete:
        tags:
          - Withdraw
        summary: Cancel Withdrawal
        description: |-


          <h3>Token Partner:</h3>api/partner/login (Partner API->Auth->Login)
        operationId: CancelWithdrawal
        parameters: []
        responses:
          '200':
            description: ''
            headers: {}
            content:
              text/plain:
                schema:
                  type: object
        deprecated: false
        servers:
          - url: '{baseURL}'
            variables:
              baseURL:
                default: DefaultParameterValue
          - url: 'https://apiservice.pagstar.com'
            variables: {}
          - url: 'https://dev-apiservice.pagstar.com'
            variables: {}
          - url: '127.0.0.1:8001'
            variables: {}
    /api/partner/deposit/bank-slip:
      post:
        tags:
          - Bankslip
        summary: Create Bankslip
        description: |-


          <h3>Token Partner:</h3>api/partner/login (Partner API->Auth->Login)
        operationId: CreateBankslip
        parameters: []
        requestBody:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateBankslipRequest'
              example:
                value: 200
          required: true
        responses:
          '200':
            description: ''
            headers: {}
            content:
              text/plain:
                schema:
                  type: object
        deprecated: false
        servers:
          - url: '{baseURL}'
            variables:
              baseURL:
                default: DefaultParameterValue
          - url: 'https://apiservice.pagstar.com'
            variables: {}
          - url: 'https://dev-apiservice.pagstar.com'
            variables: {}
          - url: '127.0.0.1:8001'
            variables: {}
    /api/partner/bank-slip:
      get:
        tags:
          - Bankslip
        summary: List All Bankslip
        description: |-


          <h3>Token Partner:</h3>api/partner/login (Partner API->Auth->Login)
        operationId: ListAllBankslip
        parameters: []
        responses:
          '200':
            description: ''
            headers: {}
            content:
              text/plain:
                schema:
                  type: object
        deprecated: false
        servers:
          - url: '{baseURL}'
            variables:
              baseURL:
                default: DefaultParameterValue
          - url: 'https://apiservice.pagstar.com'
            variables: {}
          - url: 'https://dev-apiservice.pagstar.com'
            variables: {}
          - url: '127.0.0.1:8001'
            variables: {}
    /api/partner/bank-slip/12:
      get:
        tags:
          - Bankslip
        summary: Get Bankslip by ID
        description: |-


          <h3>Token Partner:</h3>api/partner/login (Partner API->Auth->Login)
        operationId: GetBankslipbyID
        parameters: []
        responses:
          '200':
            description: ''
            headers: {}
            content:
              text/plain:
                schema:
                  type: object
        deprecated: false
        servers:
          - url: '{baseURL}'
            variables:
              baseURL:
                default: DefaultParameterValue
          - url: 'https://apiservice.pagstar.com'
            variables: {}
          - url: 'https://dev-apiservice.pagstar.com'
            variables: {}
          - url: '127.0.0.1:8001'
            variables: {}
    /api/partner/deposit/bank-account:
      post:
        tags:
          - Bank Account Deposit
        summary: Solicit Partner Bank Transfer
        description: |-


          <h3>Token Partner:</h3>api/partner/login (Partner API->Auth->Login)
        operationId: SolicitPartnerBankTransfer
        parameters: []
        requestBody:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SolicitPartnerBankTransferRequest'
              example:
                value: 55
                bank_account_id: 2
          required: true
        responses:
          '200':
            description: ''
            headers: {}
            content:
              text/plain:
                schema:
                  type: object
        deprecated: false
        servers:
          - url: '{baseURL}'
            variables:
              baseURL:
                default: DefaultParameterValue
          - url: 'https://apiservice.pagstar.com'
            variables: {}
          - url: 'https://dev-apiservice.pagstar.com'
            variables: {}
          - url: '127.0.0.1:8001'
            variables: {}
    /api/partner/bank-account:
      post:
        tags:
          - Bank Account - Partner
        summary: Create Bank Account
        description: >-
          Essa rota é responsavel por criar uma conta bancária associada ao
          parceiro em questão, sendo necessario o token de autenticação.


          <h3>Token Partner:</h3>api/partner/login (Partner API->Auth->Login)
        operationId: CreateBankAccount
        parameters: []
        requestBody:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateBankAccountRequest'
              example:
                bank_id: 1
                account_number: '123165'
                agency_number: '555'
          required: true
        responses:
          '200':
            description: ''
            headers: {}
            content:
              text/plain:
                schema:
                  type: object
        deprecated: false
        servers:
          - url: '{baseURL}'
            variables:
              baseURL:
                default: DefaultParameterValue
          - url: 'https://apiservice.pagstar.com'
            variables: {}
          - url: 'https://dev-apiservice.pagstar.com'
            variables: {}
          - url: '127.0.0.1:8001'
            variables: {}
      get:
        tags:
          - Bank Account - Partner
        summary: List All Bank Account
        description: >-
          Essa rota tem objetivo de retornar os dados das contas bancárias do
          parceiro em questão, sendo necessario o token.


          <h3>Token Partner:</h3>api/partner/login (Partner API->Auth->Login)
        operationId: ListAllBankAccount
        parameters:
          - name: version
            in: header
            description: ''
            required: true
            style: simple
            schema:
              type: string
              example: 2.1.2
        responses:
          '200':
            description: Auto generated using Swagger Inspector
            content:
              application/json:
                schema:
                  type: object
                  properties: {}
                examples:
                  '0':
                    value: |-
                      [ 
                        {
                          "id": 2,
                          "agency_number": "555",
                          "account_number": "123165",
                          "is_favorite": 1,
                          "bank": {
                            "bank_id": 1,
                            "name": "Banco do Brasil S.A"
                          }
                        },
                        {
                          "id": 3,
                          "agency_number": "555",
                          "account_number": "123165",
                          "is_favorite": 0,
                          "bank": {
                            "bank_id": 33,
                            "name": "Banco Santander Brasil S.A"
                          }
                        }
                      ]
        deprecated: false
        servers:
          - url: '{baseURL}'
            variables:
              baseURL:
                default: DefaultParameterValue
          - url: 'https://apiservice.pagstar.com'
            variables: {}
          - url: 'https://dev-apiservice.pagstar.com'
            variables: {}
          - url: '127.0.0.1:8001'
            variables: {}
    /api/partner/bank-account/2:
      get:
        tags:
          - Bank Account - Partner
        summary: Get Bank Account by ID
        description: >-
          Essa rota tem objetivo de retornar os dados da conta bancária do
          parceiro em questão pelo id da conta, sendo necessario o token.


          <h3>Token Partner:</h3>api/partner/login (Partner API->Auth->Login)
        operationId: GetBankAccountbyID
        parameters: []
        responses:
          '200':
            description: Auto generated using Swagger Inspector
            content:
              application/json:
                schema:
                  type: object
                  properties: {}
                examples:
                  '0':
                    value: |-
                      [ 
                        {
                          "id": 2,
                          "agency_number": "555",
                          "account_number": "123165",
                          "is_favorite": 1,
                          "bank": {
                            "bank_id": 1,
                            "name": "Banco do Brasil S.A"
                          }
                        }
                      ]
        deprecated: false
        servers:
          - url: '{baseURL}'
            variables:
              baseURL:
                default: DefaultParameterValue
          - url: 'https://apiservice.pagstar.com'
            variables: {}
          - url: 'https://dev-apiservice.pagstar.com'
            variables: {}
          - url: '127.0.0.1:8001'
            variables: {}
    /api/bank-accounts:
      get:
        tags:
          - Bank Account
        summary: Get Bank Accounts
        description: ''
        operationId: GetBankAccounts
        parameters:
          - name: locale
            in: header
            description: ''
            required: true
            style: simple
            schema:
              type: string
              example: en
          - name: version
            in: header
            description: ''
            required: true
            style: simple
            schema:
              type: string
              example: 2.1.7
        responses:
          '200':
            description: ''
            headers: {}
            content:
              text/plain:
                schema:
                  type: object
        deprecated: false
        servers:
          - url: '{baseURL}'
            variables:
              baseURL:
                default: DefaultParameterValue
          - url: 'https://apiservice.pagstar.com'
            variables: {}
          - url: 'https://dev-apiservice.pagstar.com'
            variables: {}
          - url: '127.0.0.1:8001'
            variables: {}
      post:
        tags:
          - Bank Account
        summary: Create Bank Account
        description: ''
        operationId: PostCreateBankAccount
        parameters:
          - name: locale
            in: header
            description: ''
            required: true
            style: simple
            schema:
              type: string
              example: en
          - name: version
            in: header
            description: ''
            required: true
            style: simple
            schema:
              type: string
              example: 2.1.5
        requestBody:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateBankAccountRequest'
              example:
                bank_id: 33
                agency_number: '4321555'
                account_number: 1838
          required: true
        responses:
          '200':
            description: ''
            headers: {}
            content:
              text/plain:
                schema:
                  type: object
        deprecated: false
        servers:
          - url: '{baseURL}'
            variables:
              baseURL:
                default: DefaultParameterValue
          - url: 'https://apiservice.pagstar.com'
            variables: {}
          - url: 'https://dev-apiservice.pagstar.com'
            variables: {}
          - url: '127.0.0.1:8001'
            variables: {}
    /api/bank-accounts/1:
      get:
        tags:
          - Bank Account
        summary: Get Bank Account by ID (ADM)
        description: ''
        operationId: GetBankAccountbyID(ADM)
        parameters: []
        responses:
          '200':
            description: ''
            headers: {}
            content:
              text/plain:
                schema:
                  type: object
        deprecated: false
        servers:
          - url: '{baseURL}'
            variables:
              baseURL:
                default: DefaultParameterValue
          - url: 'https://apiservice.pagstar.com'
            variables: {}
          - url: 'https://dev-apiservice.pagstar.com'
            variables: {}
          - url: '127.0.0.1:8001'
            variables: {}
    /api/bank-accounts/3:
      patch:
        tags:
          - Bank Account
        summary: Patch Bank Account
        description: ''
        operationId: PatchBankAccount
        parameters: []
        requestBody:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PatchBankAccountRequest'
              example:
                bank_id: 237
                agency_number: '512311'
                account_number: 01234-56
          required: true
        responses:
          '200':
            description: ''
            headers: {}
            content:
              text/plain:
                schema:
                  type: object
        deprecated: false
        servers:
          - url: '{baseURL}'
            variables:
              baseURL:
                default: DefaultParameterValue
          - url: 'https://apiservice.pagstar.com'
            variables: {}
          - url: 'https://dev-apiservice.pagstar.com'
            variables: {}
          - url: '127.0.0.1:8001'
            variables: {}
      delete:
        tags:
          - Bank Account
        summary: Delete Bank Account
        description: ''
        operationId: DeleteBankAccount
        parameters:
          - name: version
            in: header
            description: ''
            required: true
            style: simple
            schema:
              type: string
              example: 2.1.5
        responses:
          '200':
            description: ''
            headers: {}
            content:
              text/plain:
                schema:
                  type: object
        deprecated: false
        servers:
          - url: '{baseURL}'
            variables:
              baseURL:
                default: DefaultParameterValue
          - url: 'https://apiservice.pagstar.com'
            variables: {}
          - url: 'https://dev-apiservice.pagstar.com'
            variables: {}
          - url: '127.0.0.1:8001'
            variables: {}
    /api/partner/tenant:
      post:
        tags:
          - Tenants
        summary: Create Tenant
        description: >-
          Essa rota é responsavel por criar um Tenants associado ao parceiro em
          questão, sendo necessario o token.


          <h3>Token Partner:</h3>api/partner/login (Partner API->Auth->Login)
        operationId: CreateTenant
        parameters: []
        requestBody:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateTenantRequest'
              example:
                id: bonus@pairceiro
                name: pairceiro.tv - Bônus
          required: true
        responses:
          '200':
            description: ''
            headers: {}
            content:
              text/plain:
                schema:
                  type: object
        deprecated: false
        servers:
          - url: '{baseURL}'
            variables:
              baseURL:
                default: DefaultParameterValue
          - url: 'https://apiservice.pagstar.com'
            variables: {}
          - url: 'https://dev-apiservice.pagstar.com'
            variables: {}
          - url: '127.0.0.1:8001'
            variables: {}
      get:
        tags:
          - Tenants
        summary: List All Tenants
        description: >-
          Essa rota tem objetivo de retornar todos os Tenant associado ao parceiro
          em questão, sendo necessario o token.


          <h3>Token Partner:</h3>api/partner/login (Partner API->Auth->Login)
        operationId: ListAllTenants
        parameters:
          - name: version
            in: header
            description: ''
            required: true
            style: simple
            schema:
              type: string
              example: 3.0.1
        responses:
          '200':
            description: Auto generated using Swagger Inspector
            content:
              application/json:
                schema:
                  type: object
                  properties: {}
                examples:
                  '0':
                    value: |-
                      {
                        "current_page": 1,
                        "data": [
                          {
                            "id": "bonus@pairceiro",
                            "name": "pairceiro.tv - Bônus",
                            "partner_id": 41,
                            "created_at": "2021-05-02T19:50:46.000000Z",
                            "updated_at": "2021-05-02T19:50:46.000000Z",
                            "deleted_at": null
                          }
                        ],
                        "first_page_url": "http:\/\/localhost:8001\/api\/partner\/tenant?page=1",
                        "from": 1,
                        "last_page": 1,
                        "last_page_url": "http:\/\/localhost:8001\/api\/partner\/tenant?page=1",
                        "links": [
                          {
                            "url": null,
                            "label": "pagination.previous",
                            "active": false
                          },
                          {
                            "url": "http:\/\/localhost:8001\/api\/partner\/tenant?page=1",
                            "label": 1,
                            "active": true
                          },
                          {
                            "url": null,
                            "label": "pagination.next",
                            "active": false
                          }
                        ],
                        "next_page_url": null,
                        "path": "http:\/\/localhost:8001\/api\/partner\/tenant",
                        "per_page": 10,
                        "prev_page_url": null,
                        "to": 1,
                        "total": 1
                      }
        deprecated: false
        servers:
          - url: '{baseURL}'
            variables:
              baseURL:
                default: DefaultParameterValue
          - url: 'https://apiservice.pagstar.com'
            variables: {}
          - url: 'https://dev-apiservice.pagstar.com'
            variables: {}
          - url: '127.0.0.1:8001'
            variables: {}
    /api/partner/tenant/bonus@pairceiro:
      get:
        tags:
          - Tenants
        summary: Get Tenant by ID
        description: >-
          Essa rota possui como objetivo retornar os dados do Tenant
          correspondente ao id, sendo necessario o token partner de autenticação.


          <h3>Token Partner:</h3>api/partner/login (Partner API->Auth->Login)
        operationId: GetTenantbyID
        parameters: []
        responses:
          '200':
            description: Auto generated using Swagger Inspector
            content:
              application/json:
                schema:
                  type: object
                  properties: {}
                examples:
                  '0':
                    value: |-
                      {
                        "id": "bonus@pairceiro",
                        "name": "pairceiro.tv - Bônus",
                        "partner_id": 41,
                        "created_at": "2021-05-02T19:50:46.000000Z",
                        "updated_at": "2021-05-02T19:50:46.000000Z",
                        "deleted_at": null
                      }
        deprecated: false
        servers:
          - url: '{baseURL}'
            variables:
              baseURL:
                default: DefaultParameterValue
          - url: 'https://apiservice.pagstar.com'
            variables: {}
          - url: 'https://dev-apiservice.pagstar.com'
            variables: {}
          - url: '127.0.0.1:8001'
            variables: {}
      patch:
        tags:
          - Tenants
        summary: Modify Tenant
        description: >-
          Essa requisição PATCH tem como objetivo de fazer alterarções na conta do
          Tanant em questão, sendo necessario o id correspondente do Tanant e o
          token de autenticação.


          <h3>Token Partner:</h3>api/partner/login (Partner API->Auth->Login)
        operationId: ModifyTenant
        parameters: []
        requestBody:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModifyTenantRequest'
              example:
                name: Bônus - Pairceiro
          required: true
        responses:
          '200':
            description: ''
            headers: {}
            content:
              text/plain:
                schema:
                  type: object
        deprecated: false
        servers:
          - url: '{baseURL}'
            variables:
              baseURL:
                default: DefaultParameterValue
          - url: 'https://apiservice.pagstar.com'
            variables: {}
          - url: 'https://dev-apiservice.pagstar.com'
            variables: {}
          - url: '127.0.0.1:8001'
            variables: {}
    /api/partner/payment:
      post:
        tags:
          - Payment
        summary: Create Payment
        description: |-


          <h3>Token Partner:</h3>api/partner/login (Partner API->Auth->Login)
        operationId: CreatePayment
        parameters:
          - name: locale
            in: header
            description: ''
            required: true
            style: simple
            schema:
              type: string
              example: en
        requestBody:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatePaymentRequest'
              example:
                transaction_id: Teste
                tenant_id: pay@pairceiro
                value: 155
                callback: 'https://www.google.com'
          required: true
        responses:
          '200':
            description: ''
            headers: {}
            content:
              text/plain:
                schema:
                  type: object
        deprecated: false
        servers:
          - url: '{_.baseURL}'
            variables:
              _.baseURL:
                default: DefaultParameterValue
          - url: '{_.baseURL}'
            variables:
              _.baseURL:
                default: DefaultParameterValue
          - url: '{_.baseURL}'
            variables:
              _.baseURL:
                default: DefaultParameterValue
          - url: '{_.baseURL}'
            variables:
              _.baseURL:
                default: DefaultParameterValue
      get:
        tags:
          - Payment
        summary: Get Payments
        description: |-


          <h3>Token Partner:</h3>api/partner/login (Partner API->Auth->Login)
        operationId: GetPayments
        parameters: []
        responses:
          '200':
            description: ''
            headers: {}
            content:
              text/plain:
                schema:
                  type: object
        deprecated: false
        servers:
          - url: '{_.baseURL}'
            variables:
              _.baseURL:
                default: DefaultParameterValue
          - url: '{_.baseURL}'
            variables:
              _.baseURL:
                default: DefaultParameterValue
          - url: '{_.baseURL}'
            variables:
              _.baseURL:
                default: DefaultParameterValue
          - url: '{_.baseURL}'
            variables:
              _.baseURL:
                default: DefaultParameterValue
    /api/partner/payment/afb6afc2701ad4d5d1d404781fc1936c:
      get:
        tags:
          - Payment
        summary: Get Payment by ID
        description: |-


          <h3>Token Partner:</h3>api/partner/login (Partner API->Auth->Login)
        operationId: GetPaymentbyID
        parameters: []
        responses:
          '200':
            description: ''
            headers: {}
            content:
              text/plain:
                schema:
                  type: object
        deprecated: false
        servers:
          - url: '{_.baseURL}'
            variables:
              _.baseURL:
                default: DefaultParameterValue
          - url: '{_.baseURL}'
            variables:
              _.baseURL:
                default: DefaultParameterValue
          - url: '{_.baseURL}'
            variables:
              _.baseURL:
                default: DefaultParameterValue
          - url: '{_.baseURL}'
            variables:
              _.baseURL:
                default: DefaultParameterValue
    /api/partner/redeem:
      post:
        tags:
          - Payment
        summary: Create Redeem
        description: |-


          <h3>Token Partner:</h3>api/partner/login (Partner API->Auth->Login)
        operationId: CreateRedeem
        parameters: []
        requestBody:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateRedeemRequest'
              example:
                transaction_id: Teste 2
                tenant_id: bonus@pairceiro
                value: 100
                callback: 'https://www.google.com'
          required: true
        responses:
          '200':
            description: ''
            headers: {}
            content:
              text/plain:
                schema:
                  type: object
        deprecated: false
        servers:
          - url: '{_.baseURL}'
            variables:
              _.baseURL:
                default: DefaultParameterValue
          - url: '{_.baseURL}'
            variables:
              _.baseURL:
                default: DefaultParameterValue
          - url: '{_.baseURL}'
            variables:
              _.baseURL:
                default: DefaultParameterValue
          - url: '{_.baseURL}'
            variables:
              _.baseURL:
                default: DefaultParameterValue
      get:
        tags:
          - Payment
        summary: Get Redeems
        description: |-


          <h3>Token Partner:</h3>api/partner/login (Partner API->Auth->Login)
        operationId: GetRedeems
        parameters: []
        responses:
          '200':
            description: ''
            headers: {}
            content:
              text/plain:
                schema:
                  type: object
        deprecated: false
        servers:
          - url: '{_.baseURL}'
            variables:
              _.baseURL:
                default: DefaultParameterValue
          - url: '{_.baseURL}'
            variables:
              _.baseURL:
                default: DefaultParameterValue
          - url: '{_.baseURL}'
            variables:
              _.baseURL:
                default: DefaultParameterValue
          - url: '{_.baseURL}'
            variables:
              _.baseURL:
                default: DefaultParameterValue
    /api/partner/redeem/5dfad5e183c565ede56deecd7680ff29:
      get:
        tags:
          - Payment
        summary: Get Redeem by ID
        description: |-


          <h3>Token Partner:</h3>api/partner/login (Partner API->Auth->Login)
        operationId: GetRedeembyID
        parameters: []
        responses:
          '200':
            description: ''
            headers: {}
            content:
              text/plain:
                schema:
                  type: object
        deprecated: false
        servers:
          - url: '{_.baseURL}'
            variables:
              _.baseURL:
                default: DefaultParameterValue
          - url: '{_.baseURL}'
            variables:
              _.baseURL:
                default: DefaultParameterValue
          - url: '{_.baseURL}'
            variables:
              _.baseURL:
                default: DefaultParameterValue
          - url: '{_.baseURL}'
            variables:
              _.baseURL:
                default: DefaultParameterValue
    /pagstar/redeem/afb6afc2701ad4d5d1d404781fc1936c:
      get:
        tags:
          - Payment
        summary: QR Site
        description: ''
        operationId: QRSite
        parameters: []
        responses:
          '200':
            description: ''
            headers: {}
            content:
              text/plain:
                schema:
                  type: object
        deprecated: false
        servers:
          - url: '{baseURL}'
            variables:
              baseURL:
                default: DefaultParameterValue
          - url: 'https://apiservice.pagstar.com'
            variables: {}
          - url: 'https://dev-apiservice.pagstar.com'
            variables: {}
          - url: '127.0.0.1:8001'
            variables: {}
    /pagstar/pay/8449116bb16d545bef0b0f2bf1d90785:
      get:
        tags:
          - Payment
        summary: QR Site1
        description: ''
        operationId: QRSite1
        parameters: []
        responses:
          '200':
            description: ''
            headers: {}
            content:
              text/plain:
                schema:
                  type: object
        deprecated: false
        servers:
          - url: '{_.baseURL}'
            variables:
              _.baseURL:
                default: DefaultParameterValue
          - url: '{_.baseURL}'
            variables:
              _.baseURL:
                default: DefaultParameterValue
          - url: '{_.baseURL}'
            variables:
              _.baseURL:
                default: DefaultParameterValue
          - url: '{_.baseURL}'
            variables:
              _.baseURL:
                default: DefaultParameterValue
    /api/partner/customers/6:
      post:
        tags:
          - Customers
        summary: Add Customer
        description: ''
        operationId: AddCustomer
        parameters: []
        responses:
          '200':
            description: ''
            headers: {}
            content:
              text/plain:
                schema:
                  type: object
        deprecated: false
        servers:
          - url: '{baseURL}'
            variables:
              baseURL:
                default: DefaultParameterValue
          - url: 'https://apiservice.pagstar.com'
            variables: {}
          - url: 'https://dev-apiservice.pagstar.com'
            variables: {}
          - url: '127.0.0.1:8001'
            variables: {}
    /api/partner/customer:
      post:
        tags:
          - Customers
        summary: Create Customer
        description: ''
        operationId: CreateCustomer
        parameters: []
        requestBody:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateCustomerRequest'
              example:
                name: Cliente 2h
                email: cliente@2h.com
                password: '123456'
                phone: '5519900000000'
                document: 058.124.511-32
          required: true
        responses:
          '200':
            description: ''
            headers: {}
            content:
              text/plain:
                schema:
                  type: object
        deprecated: false
        servers:
          - url: '{baseURL}'
            variables:
              baseURL:
                default: DefaultParameterValue
          - url: 'https://apiservice.pagstar.com'
            variables: {}
          - url: 'https://dev-apiservice.pagstar.com'
            variables: {}
          - url: '127.0.0.1:8001'
            variables: {}
    /api/partner/customers:
      get:
        tags:
          - Customers
        summary: List All Customers
        description: ''
        operationId: ListAllCustomers
        parameters:
          - name: rows
            in: query
            description: ''
            required: true
            style: form
            explode: true
            schema:
              type: string
              example: '5'
          - name: type
            in: query
            description: ''
            required: true
            style: form
            explode: true
            schema:
              type: string
              example: user
        responses:
          '200':
            description: ''
            headers: {}
            content:
              text/plain:
                schema:
                  type: object
        deprecated: false
        servers:
          - url: '{baseURL}'
            variables:
              baseURL:
                default: DefaultParameterValue
          - url: 'https://apiservice.pagstar.com'
            variables: {}
          - url: 'https://dev-apiservice.pagstar.com'
            variables: {}
          - url: '127.0.0.1:8001'
            variables: {}
    /api/partner/customers/1:
      get:
        tags:
          - Customers
        summary: Get Customer by ID
        description: ''
        operationId: GetCustomerbyID
        parameters: []
        responses:
          '200':
            description: ''
            headers: {}
            content:
              text/plain:
                schema:
                  type: object
        deprecated: false
        servers:
          - url: '{baseURL}'
            variables:
              baseURL:
                default: DefaultParameterValue
          - url: 'https://apiservice.pagstar.com'
            variables: {}
          - url: 'https://dev-apiservice.pagstar.com'
            variables: {}
          - url: '127.0.0.1:8001'
            variables: {}
    /api/partner/customers/verify:
      post:
        tags:
          - Customers
        summary: Verify Customer
        description: ''
        operationId: VerifyCustomer
        parameters: []
        requestBody:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerifyCustomerRequest'
              example:
                email: erikdavinci@gmail.com
                password: 8d969eef6ecad3c29a3a629280e686cf0c3f5d5a86aff3ca12020c923adc6c92
          required: true
        responses:
          '200':
            description: ''
            headers: {}
            content:
              text/plain:
                schema:
                  type: object
        deprecated: false
        servers:
          - url: '{baseURL}'
            variables:
              baseURL:
                default: DefaultParameterValue
          - url: 'https://apiservice.pagstar.com'
            variables: {}
          - url: 'https://dev-apiservice.pagstar.com'
            variables: {}
          - url: '127.0.0.1:8001'
            variables: {}
    /api/partner/groups:
      post:
        tags:
          - Groups
        summary: Create Group
        description: >-
          Essa rota tem como objetivo criar um grupo associado ao partner em
          questão, sendo necessario o token para a indentificação e validação do
          partner.


          <h3>Token Partner:</h3>api/partner/login (Partner API->Auth->Login)
        operationId: CreateGroup
        parameters: []
        requestBody:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateGroupRequest'
              example:
                name: Grupo de Teste 3
          required: true
        responses:
          '200':
            description: ''
            headers: {}
            content:
              text/plain:
                schema:
                  type: object
        deprecated: false
        servers:
          - url: '{baseURL}'
            variables:
              baseURL:
                default: DefaultParameterValue
          - url: 'https://apiservice.pagstar.com'
            variables: {}
          - url: 'https://dev-apiservice.pagstar.com'
            variables: {}
          - url: '127.0.0.1:8001'
            variables: {}
      get:
        tags:
          - Groups
        summary: List All Groups
        description: >-
          Essa requisição GET tem como objetivo de retornar todos os grupos
          associado ao partner, sendo necessario o token para a indentificação e
          validação do partner.


          <h3>Token Partner:</h3>api/partner/login (Partner API->Auth->Login)
        operationId: ListAllGroups
        parameters: []
        responses:
          '200':
            description: Auto generated using Swagger Inspector
            content:
              application/json:
                schema:
                  type: object
                  properties: {}
                examples:
                  '0':
                    value: |-
                      [
                        {
                          "id": 1,
                          "name": "Everson Group",
                          "partner_id": 41,
                          "created_at": "2021-05-03T01:56:21.000000Z",
                          "updated_at": "2021-05-03T02:04:06.000000Z",
                          "deleted_at": null
                        }
                      ]
        servers:
          - url: '{baseURL}'
            variables:
              baseURL:
                default: DefaultParameterValue
          - url: 'https://apiservice.pagstar.com'
            variables: {}
          - url: 'https://dev-apiservice.pagstar.com'
            variables: {}
          - url: '127.0.0.1:8001'
            variables: {}
    /api/partner/groups/1:
      get:
        tags:
          - Groups
        summary: Get Group by ID
        description: >-
          Essa requisição GET tem como objetivo de retornar, por meio do id, os
          dados do grupo associado ao partner, sendo necessario o token para a
          indentificação e validação do partner.


          <h3>Token Partner:</h3>api/partner/login (Partner API->Auth->Login)
        operationId: GetGroupbyID
        parameters: []
        responses:
          '200':
            description: Auto generated using Swagger Inspector
            content:
              application/json:
                schema:
                  type: object
                  properties: {}
                examples:
                  '0':
                    value: |-
                      [
                        {
                          "id": 1,
                          "name": "Everson Group",
                          "partner_id": 41,
                          "created_at": "2021-05-03T01:56:21.000000Z",
                          "updated_at": "2021-05-03T02:04:06.000000Z",
                          "deleted_at": null
                        }
                      ]
        deprecated: false
        servers:
          - url: '{baseURL}'
            variables:
              baseURL:
                default: DefaultParameterValue
          - url: 'https://apiservice.pagstar.com'
            variables: {}
          - url: 'https://dev-apiservice.pagstar.com'
            variables: {}
          - url: '127.0.0.1:8001'
            variables: {}
      patch:
        tags:
          - Groups
        summary: Modify Group by ID
        description: >-
          Essa requisição PATCH é responsavel por modificar alguns dados do grupo
          associado ao partner, por meio do id, sendo necessario o token para a
          indentificação e validação do partner.


          <h3>Token Partner:</h3>api/partner/login (Partner API->Auth->Login)
        operationId: ModifyGroupbyID
        parameters: []
        requestBody:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModifyGroupbyIDRequest'
              example:
                name: Everson Group
          required: true
        responses:
          '200':
            description: ''
            headers: {}
            content:
              text/plain:
                schema:
                  type: object
        deprecated: false
        servers:
          - url: '{baseURL}'
            variables:
              baseURL:
                default: DefaultParameterValue
          - url: 'https://apiservice.pagstar.com'
            variables: {}
          - url: 'https://dev-apiservice.pagstar.com'
            variables: {}
          - url: '127.0.0.1:8001'
            variables: {}
    /api/partner/groups/2:
      delete:
        tags:
          - Groups
        summary: Delete Group by ID
        description: >-
          Essa rota é responsavel por deletar o grupo em questão, utilizando o id
          como identificador, sendo necessario o token para a indentificação e
          validação do partner.


          <h3>Token Partner:</h3>api/partner/login (Partner API->Auth->Login)
        operationId: DeleteGroupbyID
        parameters:
          - name: Content-Type
            in: header
            description: ''
            required: true
            style: simple
            schema:
              type: string
              example: application/json
        responses:
          '200':
            description: ''
            headers: {}
            content:
              text/plain:
                schema:
                  type: object
        deprecated: false
        servers:
          - url: '{baseURL}'
            variables:
              baseURL:
                default: DefaultParameterValue
          - url: 'https://apiservice.pagstar.com'
            variables: {}
          - url: 'https://dev-apiservice.pagstar.com'
            variables: {}
          - url: '127.0.0.1:8001'
            variables: {}
    /api/partner/groups/1/user/6:
      post:
        tags:
          - Groups
        summary: Add User to Group
        description: ''
        operationId: AddUsertoGroup
        parameters:
          - name: Content-Type
            in: header
            description: ''
            required: true
            style: simple
            schema:
              type: string
              example: application/json
        responses:
          '200':
            description: ''
            headers: {}
            content:
              text/plain:
                schema:
                  type: object
        deprecated: false
        servers:
          - url: '{baseURL}'
[...]
